// out: ../css/homepage.css, compress: true

@import '../../../../static/less/site-variables.less';
@import '../../../../static/less/bootstrap-variables.less';



.main-upper {
  color:@dark-green;
  padding:4em 15px;
  img {
    border-radius: 100%;
    width: 100%;
  }
  // .cap {
  //   display:table;
  //
  // }
  // .caption {
  //   display:table-cell;
  //   vertical-align:middle;
  // }
  h2 {
    text-align: center;
  }
}
#nav-list {
  font-size: 1.5em;
  padding-top: 3em;
  ul {
    border-right: 1px dashed @dark-green;
    li {
      line-height: 2;
      text-align: center;
      &:hover {
        color:@gold;
        background-color:rgba(40,48,24,.1);
      }
    }
  }
}

@media (min-width:@screen-md) {
  h2 {
    padding-top:5em;
  }
}
@media (max-width:@screen-sm) {
  .block-text {
    padding:3em 2em;
    text-align: center;
  }
}
@media (min-width:@screen-md) {
  .block-text {
    padding: 1em 0;
    text-align: left;
  }
}

.main-lower {
  background-color: @teal;
  .block-text {
    font-size: 1.5em;
  }
}
