// out: ../css/homepage.css, compress: true

.main-upper {
  padding:4em 15px;
  img {
    border-radius: 100%;
    width: 100%;
  }
  .cap {
    display:table;
    
  }
  .caption {
    display:table-cell;
    vertical-align:middle;
  }
  h2 {

    text-align: center;
  }
}

.main-lower {
  background-color: #729f98;
  .block-text {
    font-size: 1.5em;
    padding: 1em 0;
  }
}
