{% extends "base.html" %}
{% load staticfiles %}

{% block footer_js %}
  <script type="text/javascript" src="{% static 'homepage/js/homepage.js' %}"></script>
{% endblock footer_js%}

{% block content %}
<link rel="stylesheet" href="{% static 'homepage/css/homepage.css' %}" media="screen" title="no title" charset="utf-8">

<div class="row">

{% include "includes/_item-sidebar.html" %}


  <div class="col-xs-12 col-sm-10 main-upper">
    <div class="row">
      <div class="col-xs-4 col-sm-4">
        <img src="https://s3-eu-west-1.amazonaws.com/assorted-projects/uploads/images/1/portrait2.gif" alt="portrait" />
      </div>
      <div class=" col-xs-8 col-sm-8">
        <h1>{{hello}}</h1>
        <h2>{{blah}}</h2>
        <h2 class="strap-line">Web Developer / Something / Something Else</h2>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 main-lower">
    <div class="row">
      <div class=" col-xs-12 col-sm-6 col-sm-offset-4">
        <p class="block-text">
          Hi, I'm Ali and I'm a web developer, based in London.<br>
          I'm a big fan of all things Python and Django, but also have a bit of Ruby-on-Rails up my sleeve.<br>
          I've been coding since late 2014 and got my first dev job in June 2015.<br>
          Learning everyday.

        </p>
      </div>
    </div>
  </div>
</div>












{% endblock content %}
