{% extends "base.html" %}
{% load staticfiles %}

{% block footer_js %}
  <script type="text/javascript" src="{% static 'homepage/js/homepage.js' %}"></script>
{% endblock footer_js%}

{% block content %}
<link rel="stylesheet" href="{% static 'homepage/css/homepage.css' %}" media="screen" title="no title" charset="utf-8">

<div class="row">

  <aside class="hidden-xs col-sm-2" id="nav-list">
    <ul class="list-unstyled">
      {% for item in items %}
      <li id="li-{{item.label|lower}}" data-description="{{item.description}}">
        <a href="{{item.url}}">
          {{item.label|capfirst}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </aside>

  <div class="col-xs-12 col-sm-10 main-upper">
    <div class="row cap">
      <div class="col-sm-4">
        <img src="https://s3-eu-west-1.amazonaws.com/assorted-projects/uploads/images/1/portrait2.gif" alt="portrait" />
      </div>
      <div class="col-sm-8 caption">
        <h2>Web Developer / Something / Something Else</h2>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 main-lower">
    <div class="row">
      <div class=" col-xs-12 col-sm-6 col-sm-offset-4">
        <p class="block-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>












{% endblock content %}
