{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Ali Skinner | Web Developer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
    </head>

    <body>

      <div class="container-fluid">
        <div class="row">
          <header class="col-xs-12">
            <a href="/"><h1>Ali Skinner</h1></a>
            <a href="https://github.com/AliSkinner/personal_site" id="fork" class="pull-right" data-toggle="tooltip" data-placement="left" title="Fork this project on GitHub!"><i class="fa fa-code-fork "></i></a>
              <div class="dropdown visible-xs pull-right">
                <a id="hamburger" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    {% for item in items %}
                    <li id="dropdown-{{item.label|lower}}" data-description="{{item.description}}">
                      <a href="{{item.url}}">
                        {{item.label|capfirst}}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
              </div>
          </header>
        </div>
      </div>

      <div class="container-fluid">
        {% block content %}
        {% endblock content %}
      </div>

      <div class="container-fluid" id="the-footer">
        <div class="row main-footer">
          <footer class="col-xs-12 ">
            <span class="footer-icons pull-right">
              <a href="https://github.com/AliSkinner"><i class="fa fa-github"></i></a>
              <a href="https://uk.linkedin.com/in/aliskinner"><i class="fa fa-linkedin-square"></i></a>
            </span>
          </footer>
        </div>
      </div>



    </body>
    <footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
      {% block footer_js %}{% endblock %}

    </footer>
</html>
