{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Ali Skinner | Web Developer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
    </head>

    <body>

      <div class="container-fluid">
        <div class="row">
          <header class="col-xs-12">
            <h1>Ali Skinner</h1>
            <!-- <span id="header-icons pull-right"> -->
              <i class="fa fa-code-fork pull-right" id="fork"></i>
              <i class="fa fa-bars pull-right visible-xs" id="hamburger"></i>
            <!-- </span> -->
          </header>
        </div>
      </div>

      <div class="container-fluid">
        {% block content %}
        {% endblock content %}
      </div>

      <div class="container-fluid">
        <div class="row main-footer">
          <footer class="col-xs-12 ">
            <span class="footer-icons pull-right">
              <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-linkedin-square"></i></a>
            </span>
          </footer>
        </div>
      </div>



    </body>
    <footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
      {% block footer_js %}{% endblock %}

    </footer>
</html>
